<div ui-content-for="title">
  <span>Info</span>
</div>

<div class="scrollable">
<div class="scrollable-content">
  <div class="section-success section-info">
	<p>
		MyBooks es una aplicación para llevar un registro de todos los libros leídos,
		los que se esta actualmente leyendo, y los pendientes por leer. Pudiendo guardar
		los datos de los libros y algún comentario.
	</p>

	<ul class="lista_info">
		<li>Ana Laura Parlante</li>
		<li>Materia: Tecnología de las comunicaciones III</li>
		<li>Profesora: Mabel García</li>
		<li>Desarrollo Web y Mobile, 3er cuatrimestre</li>
	</ul>

	<img src="img/estante.png" alt="estante" />

 </div>
</div>
</div>